<%- include('../partials/head-tags') %>
<%- include('../partials/main-menu') %>

<div class="container">
  <div class="row">



      <div class="col-md-8 col-sm-12 main">
          <nav id="breadcrumb" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page"> <a href="/first-time-buyer-mortgages">First Time Buyer Advice</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= foundftbPost.title %> </li>
              </ol>
          </nav>

          <h2 class="card-title"><%= foundftbPost.title %></h2>       

          <img class="main-img" src="/img/first-time-buyer-mortgages1.jpg" alt="">

          <%- foundftbPost.content %>
      
    
          </div>





<div class="col-md-4 col-sm-12 side-bar">
    <div class="side-bar-list">
        <div class="side-bar-list-title">
            First Time Buyer Mortgage Advice
        </div>
        <div class="side-bar-list-item">
          <a href="/first-time-buyer-mortgages">First Time Buyer Mortgages</a>
      </div>
      <div class="side-bar-list-item">
          <a href="/first-time-buyer-mortgages/95-mortgages-for-first-time-buyers">95% Mortgages for First Time Buyers</a>
      </div>
      <div class="side-bar-list-item">
          <a href="/first-time-buyer-mortgages/the-costs-of-buying-a-house">The Cost of Buying a House</a>
      </div>
      <div class="side-bar-list-item">
          <a href="/first-time-buyer-mortgages/first-time-buyer-faq">First Time Buyer FAQ</a>
      </div>
      <div class="side-bar-list-item">
        <a href="/government-schemes">Government Schemes</a>
    </div>
    <div class="side-bar-list-item">
      <a href="/government-schemes/co-ownership-mortgages">Co-ownership Mortgages</a>
    </div>
    <div class="side-bar-list-item">
      <a href="/government-schemes/right-to-buy-government-scheme">Right to Buy</a>
    </div>
    <div class="side-bar-list-item">
      <a href="/government-schemes/help-to-buy-isas">Help to Buy ISA's</a>
    </div>
    <div class="side-bar-list-item">
      <a href="/government-schemes/help-to-buy-government-scheme">Help to Buy</a>
    </div>
    </div>
    
 <div id="carousel-widget"></div>
    
    <div class="side-bar-infograph">
        <div class="side-bar-infograph-top">
           <div class="side-bar-infograph-item">
              <div class="side-bar-infograph-item-icon-box">
                 <i class="far fa-thumbs-up"></i>
              </div>
              <div class="side-bar-infograph-item-title">
                Fee Free
              </div>
              <div class="side-bar-infograph-item-content">
                We will never charge you a fee for our services !
              </div>
           </div>
           <div class="side-bar-infograph-item">
                <div class="side-bar-infograph-item-icon-box">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="side-bar-infograph-item-title">
                  Safe & Secure
                </div>
                <div class="side-bar-infograph-item-content">
                  GDPR ready your data is encrpted so you can relax !
                </div>
             </div>
        </div>
        <div class="side-bar-infograph-bottom">
                <div class="side-bar-infograph-item">
                        <div class="side-bar-infograph-item-icon-box">
                            <i class="far fa-check-circle"></i>
                        </div>
                        <div class="side-bar-infograph-item-title">
                          Range of Lenders
                        </div>
                        <div class="side-bar-infograph-item-content">
                          Competitive rates from across the market !
                        </div>
                     </div>
                     <div class="side-bar-infograph-item">
                            <div class="side-bar-infograph-item-icon-box">
                                <i class="fas fa-balance-scale"></i>
                            </div>
                            <div class="side-bar-infograph-item-title">
                              Unbiased Service
                            </div>
                            <div class="side-bar-infograph-item-content">
                              We are not tied to any lender and aim to find the best deal for you !
                            </div>
                         </div>
        </div>
    </div>

    <%- include('../partials/side-bar-contact') %>
  </div>
 </div>
</div>



<%- include('../partials/footer') %>