<%- include('../partials/head-tags') %>
<%- include('../partials/main-menu') %>



<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 main">
                <nav id="breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item" aria-current="page"> <a href="/re-mortgage-advice">Re-mortgage Advice</a></li>
                      <li class="breadcrumb-item" aria-current="page"><%= foundrmPost.title %></li>
                    </ol>
                </nav>

                <h2 class="main-title"><%= foundrmPost.title %></h2>                  
                         
                <img class="main-img" src="/img/remortgage-02.jpg" alt="">
 
               
                 <%- foundrmPost.content %>
            

        </div>

            <div class="col-md-4 col-sm-12 side-bar">
            <div class="side-bar-list">
                <div class="side-bar-list-title">
                    Re-Mortgage Advice
                </div>
                <div class="side-bar-list-item">
                    <a href="/re-mortgage-advice">Re-mortgage Advice</a>
                </div>
                <div class="side-bar-list-item">
                    <a href="/re-mortgage-advice/re-mortgage-for-a-better-rate">Re-mortgage for a Better Rate</a>
                </div>
                <div class="side-bar-list-item">
                    <a href="/re-mortgage-advice/re-mortgage-to-buy-another-property">Re-mortgage to buy another property</a>
                </div>
                <div class="side-bar-list-item">
                    <a href="/re-mortgage-advice/re-mortgage-to-reduce-the-term">Re-mortgage to reduce the Term</a>
                </div>
                <div class="side-bar-list-item">
                    <a href="/re-mortgage-advice/re-mortgaging-to-pay-off-debts">Re-mortgage to pay off Debts</a>
                </div>
                <div class="side-bar-list-item">
                    <a href="/re-mortgage-advice/re-mortgage-guide">Re-mortgage Guide</a>
                </div>
            </div>
              
   <div id="carousel-widget"></div>
            
            <div class="side-bar-infograph">
                <div class="side-bar-infograph-top">
                   <div class="side-bar-infograph-item">
                      <div class="side-bar-infograph-item-icon-box">
                         <i class="far fa-thumbs-up"></i>
                      </div>
                      <div class="side-bar-infograph-item-title">
                        Fee Free
                      </div>
                      <div class="side-bar-infograph-item-content">
                        We will never charge you a fee for our services !
                      </div>
                   </div>
                   <div class="side-bar-infograph-item">
                        <div class="side-bar-infograph-item-icon-box">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="side-bar-infograph-item-title">
                          Safe & Secure
                        </div>
                        <div class="side-bar-infograph-item-content">
                          GDPR ready your data is encrpted so you can relax !
                        </div>
                     </div>
                </div>
                <div class="side-bar-infograph-bottom">
                        <div class="side-bar-infograph-item">
                                <div class="side-bar-infograph-item-icon-box">
                                    <i class="far fa-check-circle"></i>
                                </div>
                                <div class="side-bar-infograph-item-title">
                                  Range of Lenders
                                </div>
                                <div class="side-bar-infograph-item-content">
                                  Competitive rates from across the market !
                                </div>
                             </div>
                             <div class="side-bar-infograph-item">
                                    <div class="side-bar-infograph-item-icon-box">
                                        <i class="fas fa-balance-scale"></i>
                                    </div>
                                    <div class="side-bar-infograph-item-title">
                                      Unbiased Service
                                    </div>
                                    <div class="side-bar-infograph-item-content">
                                      We are not tied to any lender and aim to find the best deal for you !
                                    </div>
                                 </div>
                </div>
            </div>
            <%- include('../partials/side-bar-contact') %>
        </div>
    
   </div>
</div>




<%- include('../partials/footer') %>