<% include ../partials/head-tags %>

 <div class="aip-menu">
   <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="logo-box">
            <img src="img/mortgagesLogoLong-purple-test.png" alt="">
          </div>

          <ul>
            <li> <a href="/first-time-buyer-mortgages">First Time Buyer</a></li>
            <li> <a href="/self-employed-mortgages">Self-employed</a></li>
            <li> <a href="/buy-to-let-mortgages">Buy to Let</a></li>
            <li> <a href="/re-mortgage-advice">Re-mortgage</a></li>
            <li> <a href="/self-build-mortgages">Self-Build</a></li>
          </ul>

        </div>
      </div>
   </div>
 </div>

    <div class="booking pb-5">
     <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">
            Book your consultation!
          </h1>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="booking-call">
            <i class="fas fa-phone-square"></i>
            <h4 class="mb-3">Book a call back?</h4>

            <div class="booking-call-pos">
                <i class="far fa-check-circle"></i>
                <div class="booking-call-pos-text">
                    Get professional advice
                </div>
            </div>

            <div class="booking-call-pos">
                <i class="far fa-check-circle"></i>
                <div class="booking-call-pos-text">
                    Find out which lenders will accept you
                </div>
            </div>

            <div class="booking-call-pos">
                <i class="far fa-check-circle"></i>
                <div class="booking-call-pos-text">
                    Get a certified agreement in principle
                </div>
            </div>

            <button id="booking-button" type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#book-call-back-btn"            
            onclick="dataLayer.push({
              'AdvertClickToCallBack': 'call back initiated'
            })">
              Book a Call Back
            </button>



          </div>
        </div>
        <div class="col-md-6">
            <div class="booking-call">
                <i class="fas fa-video"></i>
                <h4 class="mb-3">Book a video chat?</h4>
    
                <div class="booking-call-pos">
                    <i class="far fa-check-circle"></i>
                    <div class="booking-call-pos-text">
                        Face to Face Consultation
                    </div>
                </div>
    
                <div class="booking-call-pos">
                    <i class="far fa-check-circle"></i>
                    <div class="booking-call-pos-text">
                        Find out which lenders will accept you
                    </div>
                </div>
    
                <div class="booking-call-pos">
                    <i class="far fa-check-circle"></i>
                    <div class="booking-call-pos-text">
                        Get a certified agreement in principle
                    </div>
                </div>

                <button id="aipAdvertInit" type="button" class="btn btn-block btn-success" >
                  <a class="book-video-chat-link" href="https://app.acuityscheduling.com/schedule.php?owner=21271387"
                  onclick="dataLayer.push({
                    'ClickToVideoChat': 'Video Chat Initialised'
                  })">Book a Video Chat</a>
                 </button>
    
              </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid guide-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="in-this-guide">
           <h3>Our Service</h3> 
            <ul>
              <li class="key-point-head">
                Fee free Mortgage Broker! How do we get paid?
              </li>
              <li class="key-point-head">
                Online Service Fast and Efficient
              </li>
              <li class="key-point-head">
                Access to lenders across Northern Ireland 
              </li>
              <li class="key-point-head">
                Follow through to completion
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
         <div class="key-point">
          <h3>How do we get paid?</h3>
          <p>
             We commonly get asked by our clients how we get paid if we don't charge a fee? 
          </p>

          <p>
            The majority of mortgage brokers charge a fee anywhere from £200 - £500 for a mortgage application, on top of the fee that they charge you they will also be paid a fee by the Bank or Building Society that you are applying to, this is called a procuration fee.
          </p>
          <p>
            Every mortgage product on the market has a procuration fee built into it, if you go directly to the Bank the procuration fee will still be included but this portion of the deal will be used to pay the salary of the Banks in house mortgage adviser, if you apply through a Broker the fee will instead be paid to the brokers firm.
          </p>
          <p>
            At Mortgages Northern Ireland we don't beleive in charging fees, we believe that if we have a streamlined fast efficient system in place the procuration fee paid from the Bank is more than enough for us to remain profitable. 
          </p>
          <p>
            The product that you apply for with Mortgages Northern Ireland will in 99% of occasions be exactly the same product that you would get directly from the Bank and in some cases we have access to exclusive deals that you would not get if you walked into the Bank from the High Street.
          </p>
         </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid alt-color">
    <div class="container">
      <div class="row">
        <div class="col-12">
         <div class="key-point">
          <h3>Fast Efficient Online Service</h3>
            <p>
              Mortgages Northern Ireland have moved to providing our clients with a fast efficient online service. Previously like most firms we had been operationg on a face to face basis arranging appointments whereever and whenever was convienient for our clients. This meant that clients had to book time off work to attend appointments or had to drive to a specific location to meet an adviser.
            </p>
            <p>
              The majority of our appointments are now conducted through zoom and phone calls, this means you can quickly book a video chat or a call back in your lunch break or you can sit down at home after work and jump into a video chat with an adviser.
            </p>
            <p>
              We can process an agreement in principle during a video or phone chat which will allow you to move forward in the process confident that your application will be accepted.
            </p>
         </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
         <div class="key-point">
          <h3>Access to Lenders across Northern Ireland</h3>
            <p>
              Mortgages Northern Ireland, are part of the Primis Mortgage Network who are one of the largest most successful mortgage networks in the UK. We have access to virtually every lender who is willing to lend on property in Northern Ireland. 
            </p>
            <p>
              No only do we have access to lenders that you will be familiar with from the High Street such as Danske Bank, First Trust, Bank of Ireland, Halifax etc but we also have access to some lenders that you may not even be aware of such as Leeds Building Society or Virgin Money, we are also pleased to announce that we now have access to Kensigton Mortgages who are a specialist lender focusing on subprime lending ie applicants with bad credit etc.
            </p>
            <p></p>
         </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid alt-color">
    <div class="container">
      <div class="row">
        <div class="col-12">
         <div class="key-point">
          <h3>Follow through to Completion</h3>
            <p>
              At Mortgages Northern Ireland we don't stop when your mortgage has been offered. We believe in providing a complete service to each and everyone of our clients.
            </p>

            <p>
              Once your mortgage has been offered we will chase your solicitor to make sure that everything is in place and keep a track of the purchase to ensure a smooth completion.
            </p>
         </div>
        </div>
      </div>
    </div>
  </div>



<!--Modal -->

<!-- Modal To Book Call Back-->
<div class="modal fade" id="book-call-back-btn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookCallBackModalLabel">Book a Call Back</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form action="/book-call-back" method="POST">
         
        <!--Select Menu Pre Populated with the following 3 days  -->
        <div class="form-group">
          <select id="pickCallBackDay" name="callBackDay" class="custom-select">
            <option value="<%=quickCallHelpers.dayStrings.todayString%>">
              <%=quickCallHelpers.dayStrings.todayString%>
            </option>
            <option value="<%=quickCallHelpers.dayStrings.tomorrowString%>">
              <%=quickCallHelpers.dayStrings.tomorrowString%>
            </option>
            <option value="<%=quickCallHelpers.dayStrings.nextDayString%>">
              <%=quickCallHelpers.dayStrings.nextDayString%>
            </option>
          </select>
        </div>

        <div class="form-group" id="callListOption">
          <select id="pickATime" name="callBackTime" class="custom-select">
                <% quickCallHelpers.adjustedTimes.forEach(function(item){ %>
                <option class="pickATimeOption" value="<%=item%>"><%=item%></option>
              <%})%>
          </select>
        </div>

        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" class="form-control" id="firstName" placeholder="firstName">
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" class="form-control" id="lastName" placeholder="lastName">
        </div>

        <div class="form-group">
          <label for="contactNumber">Contact Number</label>
          <input type="text" name="contactNumber" class="form-control" id="contactNumberCallBack" placeholder="Contact Number">
        </div>

        <div class="form-group">
          <label for="emailBookingForm">Email address</label>
          <input type="email" name="emailCallBack" class="form-control" id="emailCallBack" placeholder="name@example.com">
        </div>
        <button id="aipBooked" type="submit" class="btn btn-primary"
        onclick="dataLayer.push({
          'AdvertCallBackBooked': 'Call back booked'
        })">
        Book Call Back
      </button>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


<!--Reuseable component menu on small screens  -->
  <i class="fas fa-bars menu-small" onclick="openMenu()"></i>

  <div id="sliding-side-bar" class="sliding-side-bar-close">
    <i id="menuClose" class="fas fa-times close-side-bar"></i>
    <ul>
      <li>
        <a href="/first-time-buyer-mortgages">
          First Time Buyers
        </a>
      </li>
      <li>
        <a href="/buy-to-let-mortgages">
          Buy to Let
        </a>
      </li>
      <li>
        <a href="/re-mortgage-advice">
          Re-mortgage
        </a>
      </li>
      <li>
        <a href="/self-build-mortgages">
          Self-Build
        </a>
      </li>
      <li>
        <a href="/self-employed">
          Self-employed
        </a>
      </li>
    </ul>
  </div>



  <% include ../partials/footer %>



